.menuTotal{
	width: 100%;	
	height: 130%;
	background-color: black;
}
.faixa{
	background-color: #141414;
	width: 100%;
	height: 21%;
	border-bottom: 2px solid #4d4d4d;
	display: inlinelocbk-;
}
.menu{
	width: 80%;
	height: 80%;
	margin: auto;
	margin-top:2%;
	color: #757575;
}
#cancele{
	background-image: url("../Imagens/close-white.png");
	background-repeat: no-repeat;
	background-color: #141414;
	position: relative;
	width: 100px;
	height: 100px;
	float: left; 
	margin-left: 11.5%;
	margin-right: 21%;
}
#devices{
	background-image: url("../Imagens/devices-gray.png");
	background-repeat: no-repeat;
	position: relative;
	width: 160px;
	height: 100px;
	float: left; 
	margin-right: 21%;

}
#devices:hover{
	background-image: url("../Imagens/devices-white.png");
}
#planos{
	background-image: url("../Imagens/etiqueta-gray.png");
	background-repeat: no-repeat;
	position: relative;
	width: 100px;
	height: 100px;
	float: left; 
}
#planos:hover{
	background-image: url("../Imagens/etiqueta-white.png");
}